<!DOCTYPE html>
<html>
<head>
    <title>vou_inventar - COMPRAR E VENDER - {{titulo}}</title>
</head>

<body>
    <h4> {{titulo}}</h4>
   <form action="caduser" method="post">
        <p><a href="/">Início</a></p>
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwod">Password</label></p>
        <p><input type="text" id="passwod" name="passwod"></p>

        <p><input type="submit" value="Cadastrar"></p>
   </form>
</body>

</html>