<!DOCTYPE html>
<html>
<head>
    <title>vou_inventar - Editar {{ titulo }}</title>
</head>
<body>

    <h4>Editar {{ titulo }} #{{ categoria.id }}</h4>

    <form action="/categoria/atualizar/{{ categoria.id }}" method="post">
        <p>
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" value="{{ categoria.nome }}" required>
        </p>

        <p>
            <label for="desc">Descrição:</label><br>
            <input type="text" id="desc" name="desc" value="{{ categoria.desc }}" required>
        </p>

        <p>
            <input type="submit" value="Salvar Alterações">
            <a href="/config/categoria">Cancelar</a>
        </p>
    </form>

</body>
</html>