<!DOCTYPE html>
<html>
<head>
    <title>vou_inventar - COMPRAR E VENDER</title>
</head>
<body>
    
   <h4> BEM VINDOS AO vou_inventar</h4>
    <nav>
        <p><a href="/">Início</a></p>
        <p><a href={{ url_for("usuario")}}>Cadastro Usuario</a></p>
        <p><a href={{ url_for("anuncio") }}>Novo Anúncio (Cadastro Anúncio)</a></p>
        <p><a href={{ url_for('compra') }}>Comprar Produto / Vitrine</a></p>
        <p><a href={{ url_for("pergunta")}}> Perguntas</a></p>
        <p><a href={{ url_for("categoria")}}>Cadastro de produtos(Categorias)</a></p>
        <p><a href={{ url_for("relCompras")}}>Minhas Compras</a></p>
        <p><a href={{ url_for("relVendas")}}>Minhas Vendas</a></p>
        
   </nav>
    
</body>
</html>